body {
  text-align: center;
  align-items: center;
  background-color: rgb(105, 0, 0);
  font-family: "Josefin Sans", sans-serif;
}
h1,
h2 {
  color: rgb(126, 0, 0);
}
button {
  padding: 10px;
  border: 2px solid rgb(126, 0, 0);
  background-color: white;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}
button:active {
  background-color: rgb(255, 153, 153);
}
.outer-box {
  height: 250px;
  width: 60%;
  position:absolute;
  top:200px;
  left:300px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}


